.header{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.title {
  font-family: "Inter", sans-serif;
  color: #231100;
  display: flex;
  flex-direction: column;
  gap: clamp(6px, 1.5vw, 16px);
  /* gap: 10px; */
}

.title h1 {
  font-weight: 600;
  font-size: clamp(18px, 4.4vw, 2rem);
  line-height: 22px;
}

.title h3 {
  font-weight: 500;
  font-size: clamp(14px, 3.5vw, 1.2rem);
  line-height: 17px;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f5f3;
  padding-left: 1rem;
  border-radius: 10px;
  width: 100%;
}

.searchbar img {
  object-fit: contain;
  width: 4%;
}

.searchbar input {
  width: 94%;
  padding: 1rem;
  outline: none;
  border: none;
  background: transparent;
  line-height: 18px;
  font-size: clamp(1.1rem, 4.2vw, 1.4rem);
  font-family: "Roboto", sans-serif;
}

.searchbar input::placeholder {
  color: #6b6b6b;
}

@media(min-width:768px){
  .title h1 {
    font-size: 1.7rem;
}

.title h3 {
  font-size: 1.2rem;
}


.searchbar img {
  object-fit: contain;
  width: 4%;
}

.searchbar input {
  font-size: 1.2rem;
}

}