.levelContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.levelPercentage{
    display: flex;
    align-items: center;
}

.levelContainer span{
    display: inline-block;
    width: 40%;
    color: #bbb9bf;
    font-size: clamp(0.6rem,0.7vw,0.9rem);
}

.bar{
    width:60%;
    height: 0.3vw;
    min-height: 5px;
    border-radius: 20px;
    background-color: #fff;
}

.progress{
    height: 100%;
    border-radius: inherit;
}